.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clipContainer {
    display: flex;
    z-index: -1;
    flex: 1;
    height: 100%;
    width: 100%;
}
.clip {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;

}
.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 5; 
  color: rgb(201, 208, 217);
  font-size: 2.5rem; 
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
/* 
  box-shadow: -3px 0px 3px 2px grey; */
  padding: 10px;
  
}
.titluAbout {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.descriereAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    gap: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.descriereAboutOne {
    min-width: 350px;
    font-size: 15px;
    word-wrap: break-word;
    padding: 30px;
    box-shadow: -3px 0px 3px 1px grey;
    transform: scale(1) translateX(10%);
    transition-duration: 4s;
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
}
.descriereAboutOne:hover {
    color: pink;
    transform: scale(1.4) translateX(-10%);
    transition-duration: 1s;
    font-size: 15px;
    box-shadow: -3px 0px 3px 1px white;
}