.homepageButtons {
    
    background-color: transparent;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: transparent;
    padding: 1rem 2rem;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.badge {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.8rem;
    margin-left: 5px;
}
.spaceLogoButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo {
    border-radius: 100%;
    width: 80px;
    height: 40px;
    border-radius: 90%;
    padding: 10px;
    animation: pounding 2s ease-in-out infinite ;
}
.upperButton {
    height: 20px;
    transform: scale(1);
    transition-duration: 0.4s;
}
.upperButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.25);
    transition-duration: 0.5s;
    box-shadow: 1px 1px 10px 2px grey;
    padding: 10px;
    height: 10px;
}